<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.androidallsampletest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewlifecycle.ViewLifecycleActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".progressbar.ProgressbarActivity" />
        <activity
            android:name=".facebook.FacebookActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".factory.FactoryActivity" />
        <activity android:name=".multiviewtype.MultiViewTypeActivity" />
        <activity android:name=".lifecycle.LifecycleActivity3" />
        <activity android:name=".lifecycle.LifecycleActivity2" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity android:name=".lottie.LottieActivity" />
        <activity android:name=".constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".coordinator.CoordinatorActivity" />
        <activity android:name=".activity.WordActivity" />
        <activity android:name=".activity.ExcelActivity" />
        <activity android:name=".activity.PowerPointActivity" />
        <activity android:name=".activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="doc" />
                <data android:scheme="xls" />
                <data android:scheme="ppt" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rx.RxJavaActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".calendar.MaterialCalendarViewActivity" />
        <activity android:name=".mpchart.MpChartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>